/* =========================================================
   MAIN
========================================================= */

/* BASE */
@import './base/fonts.css';
@import './base/variables.css';
@import './base/reset.css';

/* LAYOUT */
@import './layout/header.css';
@import './layout/container.css';

/* COMPONENTS */
@import './components/buttons.css';
@import './components/slider.css';
@import './components/indicators.css';
@import './components/animation.css';

/* SECTIONS */
@import './sections/cars.css';
@import './sections/content.css';
@import './sections/decoration.css';
