/* =========================================================
   DECORATION
========================================================= */

/* Logo */
.logo-car img {
    width: 12%;
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 1%;
    filter: drop-shadow(0 25px 50px #141414);
}

