/* =========================================================
   ANIMATION
========================================================= */

/* 
    Main Animation
*/
.item {
    transform: translateX(100vw);
    transition: transform 0.6s ease-in-out, opacity 0.7s ease-in-out;
}  

.item.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 5;
}

/*
    Car Animation
*/
.car-img {
    transform: translateX(300px);
    opacity: 0;
    transition: transform 1s ease, opacity 0.7s ease;
    transition-delay: 0.8s;
}

.active .car-img {
    transform: translateX(0);
    opacity: 1;
}

/*
    Tag Animation
*/
.car-tag {
    opacity: 0;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
    transition-delay: 0.7s;
}

.active .car-tag {
    opacity: 1;
    transform: translateX(0);
}

/*
    Name Animation
*/
.car-name { 
    opacity: 0;
    transform: translateX(100vw);
    transition: transform 0.7s ease-in-out, opacity 1s ease-in-out;
}

.active .car-name {
    opacity: 1;
    transform: translateX(0);
}

/*
    Car Description
*/
.description {
    opacity: 0;
    transform: translateX(100vw);
    transition: transform 1s ease-in-out, opacity 1.1s ease-in-out;
}

.active .description {
    opacity: 1;
    transform: translateX(0);
}

/*
    Button Animation
*/
.content button {
    opacity: 0;
    transform: translateX(100vw);
    transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out;
    transition-delay: 1s;
}

.active .content button {
    opacity: 1;
    transform: translateX(0);
}

/*
    Car Brands
*/
.logo-car img {
    transform: rotate(80deg);
    transition: transform 0.5s ease;
}

.active .logo-car img {
    transform: rotate(-13deg);
    transition: transform 1s ease;  
}