/* =========================================================
   MAIN BUTTON
========================================================= */

.btn {
    padding: 10px 20px;
    border-radius: 999px;
    border-width: 0.5px;
    font-size: 0.95rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    transform: scale(1);
}

.btn:hover {
    box-shadow: inset 0 0 0 2em var(--btn-color);
    border-color: #18bf7f;
    color: #ffffff;
    transition: all 1s ease;
}

.btn:active {
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    scale: 0.98;
}

/* =========================================================
   NAVIGATION ARROWS
========================================================= */

.arrows {
    position: absolute;
    width: 25%;
    display: flex;
    justify-content: space-between;
    top: 88.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.arrow-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid var(--neon);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-button img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

/* Hover */
.arrow-button:hover {
    background-color: var(--arrow-color);
    border: 2px solid var(--neon);
    transform: scale(1.05);
    transition: transform 0.5s ease, background-color 0.5s ease;
}

/* Click */
.arrow-button:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

